* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gabarito", sans-serif;
}
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  gap: 10px;
  align-items: center;
flex-wrap: wrap;

}
.navbar__s1-title {
  color: #2c3e50;
  
}
.navbar__s2 {
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
  width: 60%;
  display: flex;
  gap: 10px; flex-grow: 1;

}
.navbar__s2 input {
  border: none;
  width: 100%;
  font-size: 16px;
 
}
.navbar__s2 input:focus {
  outline: none;
}
.navbar__s3 {
  display: flex;
  gap: 10px;
}

.Categories {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid black 1px;
  flex-wrap: wrap;
}
.Categories p {
  background-color: #2c3e50;
  color: whitesmoke;
  padding: 10px;
  border-radius: 30px;
  margin : 10px;
text-align: center;
 flex-grow: 1;
}
.saleimage img {
  width: 100%;
}
.recommended-sec {
  padding: 10px;
}
.recommended {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.course-card {
  width: 340px;
  margin-top: 10px;
}
.course-card img {
  width: 100%;
  height: 70%;
}
.topics {
  padding: 10px;
}
.topics-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
}
.topics-box p {
  padding: 10px;
  border: solid 2px #2c3e50;
  flex-grow: 1;
  flex-basis: 25%;
}
.footer-one{display: flex;gap: 40px;}
.footer-two{display: flex;justify-content: space-between;
}
.footer{padding: 30px;
background-color: #E3E5E6;
color:#2C3E50 ;}
.footer-one p{margin: 10px;}
.footer-two p{margin: 10px;align-items: center;}
