* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gabarito", sans-serif;
}
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.navbar__s1-title {
  color: #2c3e50;
}
.navbar__s2 {
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
  width: 60%;
  display: flex;
  gap: 10px;
  flex-grow: 1;
}
.navbar__s2 input {
  border: none;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
}
.navbar__s2 input:focus {
  outline: none;
}
.navbar__s3 {
  display: flex;
  gap: 10px;
}
.navbar__s4{display: none;}
/*my learning */
.my-learning {
  position: relative;
  cursor: pointer;
}
.my-learning__pop {
  position: absolute;
  background-color: whitesmoke;
  border: solid black 2px;
  width: 100px;
  top: 25px;
  left: 30px;
  padding: 10px;
  border-radius: 10px;
  display: none;
}
.my-learning:hover .my-learning__pop {
  display: block;
}

.Categories {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid black 1px;
  flex-wrap: wrap;
}
.Categories p {
  background-color: #2c3e50;
  color: whitesmoke;
  padding: 10px;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
  flex-grow: 1;
  border: solid #2c3e50 2px;
}
.Categories p:hover {
  transition: 1s;
  background-color: transparent;
  color: black;
  cursor: pointer;
}
.saleimage {
  position: relative;
}
.saleimage__offer {
  position: absolute;
  top: 14%;
  left: 5%;
  animation-name: zoom;
  animation-duration: 4s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.saleimage img {
  width: 100%;
}
.saleimage__offer img {
  border: solid black 8px;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  background-color: white;
}

.recommended-sec {
  padding: 10px;
}
.recommended {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.course-card {
  flex-grow: 1;
  flex-basis:20% ;
  margin-top: 10px;
}
.course-card img {
  width: 100%;
  height: 70%;
}
.topics {
  padding: 10px;
}
.topics-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
}
.topics-box p {
  padding: 10px;
  border: solid 2px #2c3e50;
  flex-grow: 1;
  flex-basis: 25%;
}
.footer-one {
  display: flex;
  gap: 40px;
}
.footer-two {
  display: flex;
  justify-content: space-between;
}
.footer {
  padding: 30px;
  background-color: #e3e5e6;
  color: #2c3e50;
}
.footer-one p {
  margin: 10px;
}
.footer-two p {
  margin: 10px;
  align-items: center;
}
@media screen and (max-width:600px){
  .course-card{
    flex-grow: 1;
  flex-basis:40% ;
  margin-top: 40px;
  }
  .footer{margin-top: 60px;}
  .topics{margin-top: 20px;}
  .recommended-sec h1{margin:0}
  .recommended{margin: 0;}
  .saleimage__offer img{width: 30%;  border: solid black 4px;
  border-radius: 20px;  padding: 10px;}
  .navbar__s2,.navbar__s3{display: none;}
  .Categories{display: none;}
  .navbar__s4{display: block;}
  
}
